<entity-manager>
   <persistence-unit name="entityManager">
   <provider>org.hibernate.ejb.HibernatePersistence</provider>
   <class>com.unicast.campaign.impl.CampaignVw</class>
   <class>com.unicast.campaign.impl.Campaign</class>
   <class>com.unicast.campaign.impl.Agency</class>
   <class>com.unicast.campaign.impl.Advertiser</class>
   <class>com.unicast.campaign.impl.Publisher</class>
   <class>com.unicast.campaign.impl.CampaignAndCreative</class>
   <class>com.unicast.campaign.impl.AdsIndustry</class>
   <class>com.unicast.campaign.impl.Format</class>
   <class>com.unicast.campaign.impl.AdMgmtVw</class>
   <class>com.unicast.campaign.impl.AdsPlacement</class>
   <class>com.unicast.campaign.impl.Status</class>
   <class>com.unicast.campaign.impl.StatusReference</class>
   <class>com.unicast.campaign.impl.Creative</class>
   <class>com.unicast.campaign.impl.AdMgmtInfo</class>
   <class>com.unicast.logdata.impl.AdDyDetail</class>
   <class>com.unicast.logdata.impl.Impressions</class>
   <class>com.unicast.logdata.impl.AdInteractiveDyDetail</class>
   <class>com.unicast.logdata.impl.Interactions</class>
   <class>com.unicast.logdata.impl.AdDisplayTimeDyDetail</class>
   <class>com.unicast.logdata.impl.DisplayTime</class>
   <class>com.unicast.logdata.impl.EIFormat</class>
   <class>com.unicast.logdata.impl.EIFormatToCumulPrvQr</class>
   <class>com.unicast.logdata.impl.EIFormatWithinPrvQr</class>
   <class>com.unicast.logdata.impl.EIFormatIndToCumulPrvQr</class>
   <class>com.unicast.logdata.impl.EIFormatIndWithinPrvQr</class>
   <class>com.unicast.logdata.impl.CrtvPlacementFreqDyDetail</class>
   
   
   <jta-data-source>java:/XAOracleDS</jta-data-source>
   <properties>
      <property name="hibernate.dialect" value="org.hibernate.dialect.OracleDialect"/>
      <property name="hibernate.transaction.manager_lookup_class" value="org.hibernate.transaction.JBossTransactionManagerLookup"/>
      <property name="hibernate.transaction.flush_before_completion" value="true"/>
      <property name="hibernate.show_sql" value="true"/>
      <property name="jboss.entity.manager.factory.jndi.name" value="java:/EntityManager"/>
      
      <!-- about hibernate cache mechanism: http://www.informit.com/articles/article.asp?p=353736&seqNum=5&rl=1 -->
	 <!--
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.HashtableCacheProvider"/>
	 -->
      
      <!-- Second-level caching --> 
	  <!-- http://www.hibernate.org/hib_docs/v3/api/org/hibernate/cache/EhCacheProvider.html -->
	  <!-- http://www.docjar.net/docs/api/org/hibernate/cache/EhCacheProvider.html -->
	  <!-- http://ehcache.sourceforge.net/ -->
	  <property name="hibernate.cache.use_second_level_cache" value="true"/>
	  <property name="hibernate.cache.provider_class" value="org.hibernate.cache.EhCacheProvider"/>
      <property name="hibernate.cache.use_query_cache" value="true"/>
      
   </properties>
   </persistence-unit>
</entity-manager>