<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

    <!-- session management -->
    <property name="current_session_context_class">jta</property>
    <property name="transaction.factory_class">org.hibernate.engine.transaction.internal.jta.CMTTransactionFactory</property>
    <property name="transaction.manager_lookup_class">org.hibernate.transaction.WeblogicTransactionManagerLookup</property>


		<!-- Base Settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property> 
		<property name="connection.datasource">Underwriting_DS</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="default_schema">underwriting</property>


		<!-- to prevent the ClassDefNotFound problem with weblogic -->
		<property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>


		<property name="show_sql">false</property>


		<!-- JDBC Settings -->
		<property name="max_fetch_depth">1</property>


		<!-- Cache settings -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>


		<!-- Mapping files -->
    <mapping resource="mapping/RisikoPruefstufe.hbm.xml"/>
    <mapping resource="mapping/RisikoCode.hbm.xml"/>
    <mapping resource="mapping/RisikoText.hbm.xml"/>
    
    <mapping resource="mapping/TaxationsBlatt.hbm.xml"/>
    <mapping resource="mapping/TaxationsEintrag.hbm.xml"/>
    <mapping resource="mapping/TaxationsVerfuegung.hbm.xml"/>

	</session-factory>

</hibernate-configuration>
