<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:derby:abcDB;create=true;territory=tr_TR;collation=TERRITORY_BASED
        </property>
        <property name="hibernate.connection.username">
            sysdba
        </property>
        <property name="hibernate.connection.password">
            masterkey
        </property>
        <property name="hbm2ddl.auto">create</property>

    </session-factory>
</hibernate-configuration>