<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence">

    <persistence-unit name="DAL-connector-persistence">
        <description>Persistence unit for SyncML module</description>
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <jta-data-source>java:jboss/datasources/SyncMLDS</jta-data-source>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect"/>
            <property name="hibernate.connection.release_mode" value="auto"></property>
            <property name="hibernate.transaction.auto_close_session" value="true"></property>
            <property name="hibernate.show_sql" value="false"></property>
            <property name="hibernate.jdbc.batch_size" value="30"></property>
            <property name="hibernate.jdbc.fetch_size" value="30"></property>
            <property name="hibernate.cache.use_second_level_cache" value="true"></property>
            <property name="hibernate.cache.use_query_cache" value="true"></property>
            <property name="hibernate.current_session_context_class" value="jta"></property>
            <property name="hibernate.transaction.flush_before_completion" value="true"></property>
        </properties>
    </persistence-unit>
</persistence>