<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory >
        <property name="hibernate.connection.datasource">java:/ils.txdatasource.dbpool</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
         <!-- JTA transaction properties (begin) -->
	    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
	    <property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
	    <property name="jta.UserTransaction">java:comp/UserTransaction</property>
        <mapping resource="com/manh/hibernate/issue/hbm/configuration-parameter.hbm.xml"></mapping>
        <mapping resource="com/manh/hibernate/issue/hbm/configuration-scope-element.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>

