<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- Konfiguracja pod tomcat-a, patrz /web/WEB-INF/context.xml
    <bean id="rbrDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiName"><value>java:comp/env/jdbc/rbrDS</value></property>
	</bean-->
  
    <!-- Konfiguracja pod JBoss, patrz /conf/jboss/rbr-ds.xml -->
    <bean id="rbrDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiName"><value>java:rbrDS</value></property>
	</bean>

    <!-- Konfiguracja pod JBoss, patrz /conf/jboss/masterbase-ds.xml -->
    <bean id="masterBaseDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiName"><value>java:MBase</value></property>
	</bean>

    <!-- Konfiguracja pod JBoss, patrz /conf/jboss/partg-ds.xml -->
    <bean id="partgDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiName"><value>java:partgDS</value></property>
	</bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource"><ref bean="rbrDataSource"/></property>
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath:/com/cu/rbr/business/model/local</value>
                <value>classpath:/com/cu/rbr/business/model/mock</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.query.substitutions">true=1 false=0</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</prop>
                <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</prop>
            </props>
        </property>
        <property name="schemaUpdate">
            <value>false</value>
        </property>
    </bean>

</beans>
