<?xml version="1.0" encoding="UTF-8"?>  
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">  
  
    <persistence-unit name="TrainDB" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>com.linovation.trainapp.database.entities.FTPServer</class>
        <class>com.linovation.trainapp.database.entities.GPSCoordinate</class>
        <class>com.linovation.trainapp.database.entities.Media</class>
        <class>com.linovation.trainapp.database.entities.Polygon</class>
        <class>com.linovation.trainapp.database.entities.Route</class>
        <class>com.linovation.trainapp.database.entities.Station</class>
        <properties>
            <property name="connection.driver_class" value="org.h2.Driver"/>
            <property name="hibernate.archive.autodetection" value="class" />
            <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect" />
            <property name="hibernate.connection.driver_class" value="org.h2.Driver" />
            <property name="hibernate.connection.url" value="jdbc:h2:~/h2-db/TrainApp;AUTO_SERVER=TRUE" />
            <property name="hibernate.connection.user" value="sa" />
            <property name="hibernate.show_sql" value="true"/>
            <property name="format_sql" value = "true"/>
            <property name="hibernate.flushMode" value="FLUSH_AUTO" />
        </properties>
    </persistence-unit> 
  
</persistence>  
