<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence">
	<persistence-unit name="polcaincapu" transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
		
		<class>dk.tdc.visitation.polcalink.resource.dbResource.polcadb.inca.servingfp.CpeEntityExt5</class>
		<class>dk.tdc.visitation.polcalink.resource.dbResource.polcadb.inca.servingfp.CpeEntity1Abstract</class>
		<class>dk.tdc.visitation.polcalink.resource.dbResource.polcadb.inca.servingfp.PortEntityExt5</class>
		<class>dk.tdc.visitation.polcalink.resource.dbResource.polcadb.inca.servingfp.PortEntity1Abstract</class>
		<class>dk.tdc.visitation.polcalink.resource.dbResource.polcadb.inca.servingfp.CpePort1</class>
		<class>dk.tdc.visitation.polcalink.resource.dbResource.polcadb.inca.servingfp.ServingFpEntityExt1</class>
		<class>dk.tdc.visitation.polcalink.resource.dbResource.polcadb.inca.servingfp.ServingFpEntityAbstract1</class>
		<properties>
			<property name="javax.persistence.jdbc.driver" value="oracle.jdbc.driver.OracleDriver"/>
			<property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@polyarny.tdk.dk:1540:TPOLCA"/>
			<property name="javax.persistence.jdbc.user" value="INCA_STAGING"/>
			<property name="javax.persistence.jdbc.password" value="INCA_STAGING"/>
			<property name="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect"/>
		
	<!--	<property name="hibernate.connection.driver_class" value="oracle.jdbc.driver.OracleDriver"/>
			<property name="hibernate.connection.url" value="jdbc:oracle:thin:@polyarny.tdk.dk:1540:TPOLCA"/>
			<property name="hibernate.connection.username" value="INCA_STAGING"/>
			<property name="hibernate.connection.password" value="INCA_STAGING"/>  -->
			
	  <!--	<property name="hibernate.classloading.use_current_tccl_as_parent" value="false"/>
			<property name="hibernate.transaction.jta.platform" value="org.hibernate.engine.transaction.jta.platform.internal.WeblogicJtaPlatform"/>  
			<property name="hibernate.query.factory_class" value="org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory"/>
			<property name="hibernate.id.new_generator_mappings" value="false"/>   -->
		</properties>
	</persistence-unit>
</persistence>
