<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://???/easytic2</property>
		<property name="connection.username">???</property>
		<property name="connection.password">???</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">ISO-8859-2</property>
		<property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
		<property name="hibernate.connection.useServerPrepStmts">false</property>
		<property name="hibernate.connection.emulateUnsupportedPstmts">false</property>

		<mapping class="easytic.db.Adresse" />
		<!-- <mapping class="easytic.db.Audit" /> -->
		<mapping class="easytic.db.Avortement" />
		<mapping class="easytic.db.Contact" />
		<mapping class="easytic.db.Departement" />
		<mapping class="easytic.db.Domaine" />
		<mapping class="easytic.db.Entreprise" />
		<mapping class="easytic.db.Equipe" />
		<mapping class="easytic.db.Etude" />
		<mapping class="easytic.db.Groupe" />
		<mapping class="easytic.db.HistoriqueEquipeMembre" />
		<mapping class="easytic.db.HistoriquePosteMembre" />
		<mapping class="easytic.db.Logiciel" />
		<mapping class="easytic.db.Licence" />
		<mapping class="easytic.db.Membre" />
		<mapping class="easytic.db.Nationalite" />
		<!-- <mapping class="easytic.db.NewsletterMail" /> -->
		<mapping class="easytic.db.Permission" />
		<mapping class="easytic.db.Phase" />
		<mapping class="easytic.db.Poste" />
		<mapping class="easytic.db.Propale" />
		<!-- <mapping class="easytic.db.QuestionAudit" /> -->
		<!-- <mapping class="easytic.db.ReponseAudit" /> -->
		<mapping class="easytic.db.ReunionClient" />
		<mapping class="easytic.db.ReunionValidation" />
		<!-- <mapping class="easytic.db.Tache" /> -->
		<mapping class="easytic.db.Technologie" />
		<!-- <mapping class="easytic.db.TypeAudit" /> -->
		<!-- <mapping class="easytic.db.Vote" /> -->
	</session-factory>
</hibernate-configuration>