<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern"
				value="%relative %level [%thread] %logger{25} %message %nopex\n" />
		</layout>
	</appender>

	<logger name="org.hibernate" level="DEBUG" />


	<root level="DEBUG">
	</root>


	<consolePlugin />

</configuration>
