<?xml version="1.0" encoding="UTF-8"?>
	<!-- Generic persistence  -->
<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
  version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">

	<persistence-unit name="x2010">
		<jta-data-source>java:jboss/x2010-wcs</jta-data-source>
    
		<!-- Sorted by Destroy for the Initialisation -->
		<!-- @PERSISTENCE_MAPPING_INSERT@ -->			
      <mapping-file>META-INF/hibernate-mapping.wcs.module.client.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.app.routing.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.documentdispenserext.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.documentdispenser.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.documentdispenserdoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.conveyordyndoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kernelpreppicktolight.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kernelprepputtolightdoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kernelpreppicktolightdoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.sortersimulation.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.conveyorstorage.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.conveyor.xml</mapping-file> 
			<mapping-file>META-INF/hibernate-mapping.sorter.xml</mapping-file>

      <mapping-file>META-INF/hibernate-mapping.wcs.module.conveyordyn.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kernelprepputtolight.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.conveyorstoragedoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.conveyordoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kernelprepdoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.sorterdoc.xml</mapping-file> 
      
      <mapping-file>META-INF/hibernate-mapping.wcs.kernel.fmkkpidoc.xml</mapping-file>
      
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kernelkpidoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.kernel.fmkkpi.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kernelkpi.xml</mapping-file> 
      
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kernelprep.xml</mapping-file> 
			
			<mapping-file>META-INF/hibernate-mapping.wcs.kernel.fmkdoc.test.xml</mapping-file>
			
			
      <mapping-file>META-INF/hibernate-mapping.wcs.module.kerneldoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.kernel.fmkdoc.xml</mapping-file> 
      <mapping-file>META-INF/hibernate-mapping.wcs.kernel.fmkexc.xml</mapping-file>
      
			
			<mapping-file>META-INF/hibernate-mapping.wcs.kernel.test.xml</mapping-file>
			<mapping-file>META-INF/hibernate-mapping.wcs.kernel.fmkcleanup.test.xml</mapping-file>
			<mapping-file>META-INF/hibernate-mapping.wcs.kernel.fmk.test.xml</mapping-file>
			
			
			 
			<mapping-file>META-INF/hibernate-mapping.wcs.kernel.xml</mapping-file>
			<mapping-file>META-INF/hibernate-mapping.wcs.kernel.fmkcleanup.xml</mapping-file>
			<mapping-file>META-INF/hibernate-mapping.wcs.kernel.fmk.xml</mapping-file>
		<!-- Sorted by Destroy for the Initialisation -->
		<exclude-unlisted-classes>true</exclude-unlisted-classes>
    
		<properties>
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.AsisPostgreSQLDialect"/> 		  
			<property name="jboss.entity.manager.factory.jndi.name"	value="java:jboss/x2010-wcsEntityManagerFactory"/>
			<property name="hibernate.session_factory_name"	value="java:jboss/x2010-wcsSessionFactory"/>       
			<!-- Order update by id to limit deadlock -->
			<property name="hibernate.order_updates" value="true"/> 
		    <property name="hibernate.id.new_generator_mappings" value="true"/>
			
			<!--  Trace the hibernate SQL requests  
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="true" />
			-->
			
			<!-- ********************************** -->
			<!--  EHCACHE CONFIGURATION PROPERTIES  -->
			<!-- ********************************** -->
			
			<!-- 2nd level cache -->
			<!-- <property name="hibernate.cache.provider_class" value="org.hibernate.cache.EhCacheProvider" /> -->
			<!-- <property name="hibernate.cache.provider_class" value="net.sf.ehcache.hibernate.EhCacheProvider" /> -->
			<property name="hibernate.cache.region.factory_class" value="org.hibernate.cache.ehcache.EhCacheRegionFactory" />
			<property name="net.sf.ehcache.configurationResourceName" value="/ehcache-WCS.xml" />
			<property name="hibernate.cache.provider_configuration_file_resource_path" value="/ehcache-WCS.xml" />
			<property name="hibernate.cache.use_second_level_cache" value="true" />
			<property name="hibernate.cache.use_query_cache" value="true" />
			<property name="hibernate.generate_statistics" value="true" /> 
			<property name="hibernate.cache.use_structured_entries" value="true" />
			<property name="hibernate.cache.region_prefix" value="xalto"/> 
			<property name="hibernate.session.events.log" value="false"/>
			<property name="hibernate.create_empty_composites.enabled" value="true"/>
    
			<!-- The entity beans to cache -->
			
			<!-- from the FMK -->
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.ParameterFmkEntityBean" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.ParameterSiteFmkEntityBean" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.CompanyFmkEntityBean" value="read-write, wcsfmk"/> 
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.UserFmkEntityBean" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmk.persistence.UserFmkEntityBean.userSitesList" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmk.persistence.UserFmkEntityBean.userCompaniesList" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmk.persistence.UserFmkEntityBean.userRolesList" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.UserSiteFmkEntityBean" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.UserRoleFmkEntityBean" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.UserCompanyFmkEntityBean" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.SiteFmkEntityBean" value="read-write, wcsfmk"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.RoleFmkEntityBean" value="read-write, wcsfmk"/>
			<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.AbstractRegistry" value="read-write, wcsfmk"/> -->
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.MenuFmkEntityBean" value="read-write, wcsfmk"/>
   			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmk.persistence.MenuFmkEntityBean.menus" value="read-write, wcsfmk"/>
   			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.ResourceFmkEntityBean" value="read-write, wcsfmk"/>
   			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.RoleAccessFmkEntityBean" value="read-write, wcsfmk"/>
   			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmk.persistence.RoleFmkEntityBean.roleAccesses" value="read-write, wcsfmk"/>
   			<property name="hibernate.ejb.classcache.com.asis.x2010.fmk.persistence.UserAccessFmkEntityBean" value="read-write, wcsfmk"/>
   		
   			<!-- from the fmkcleanup WCS -->
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkcleanup.persistence.RegistryFmkClnEntityBean" value="read-write, wcsfmkcleanup"/>
	   		<property name="hibernate.ejb.classcache.com.asis.x2010.fmkcleanup.persistence.CleanUpConfigFmkClnEntityBean" value="read-write, wcsfmkcleanup"/>
	   		<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmkcleanup.persistence.CleanUpConfigFmkClnEntityBean.requests" value="read-write, wcsfmkcleanup"/>
	   		<property name="hibernate.ejb.classcache.com.asis.x2010.fmkcleanup.persistence.CleanUpRequestFmkClnEntityBean" value="read-write, wcsfmkcleanup"/>
		
<!-- Use in 4.3.0 CP06-->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.PlcWcsKlEntityBean" value="read-write, wcskernel"/>
<!--<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractElementWcsKlEntityBean" value="read-write, wcskernel"/>-->
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.kernel.persistence.AbstractElementWcsKlEntityBean.elementPackagingLinks" value="read-write, wcskernel"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.kernel.persistence.AbstractElementWcsKlEntityBean.supportedUnitNeeds" value="read-write, wcskernel"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractLinkElementPackagingWcsKlEntityBean" value="read-write, wcskernel"/>

<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.LaunchingAreaWcsKlEntityBean" value="read-write, wcskernel"/> -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.LaunchingPostWcsKlEntityBean" value="read-write, wcskernel"/> -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.BoxSupplierWcsKlEntityBean" value="read-write, wcskernel"/> -->

<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractLaunchingPostModuleWcsKlEntityBean" value="read-write, wcskernel"/> -->
 <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractLaunchingPostCoWcsKlEntityBean" value="read-write, wcskernel"/> 
 <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractLaunchingPostDdWcsKlEntityBean" value="read-write, wcskernel"/> 
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractBoxSupplierModuleWcsKlEntityBean" value="read-write, wcskernel"/> -->
 <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractBoxSupplierCoWcsKlEntityBean" value="read-write, wcskernel"/> 


<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.PackagingWcsKlEntityBean" value="read-write, wcskernel"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.RegistryWcsKlEntityBean" value="read-write, wcskernel"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.EquipmentWcsKlEntityBean" value="read-write, wcskernel"/>

<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.SupportedUnitNeedWcsKlEntityBean" value="read-write, wcskernel"/>

<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.CalendarWcsKlEntityBean" value="read-write, wcskernel"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.DayWcsKlEntityBean" value="read-write, wcskernel"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.DayModelTimeSlotWcsKlEntityBean" value="read-write, wcskernel"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.DayModelWcsKlEntityBean" value="read-write, wcskernel"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.NonWorkingDayWcsKlEntityBean" value="read-write, wcskernel"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.TimeSlotWcsKlEntityBean" value="read-write, wcskernel"/>

<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractContainerInputModuleWcsKlEntityBean" value="read-write, wcskernel"/> -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractContainerOutputModuleWcsKlEntityBean" value="read-write, wcskernel"/>  -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.AbstractBoxModuleWcsKlEntityBean" value="read-write, wcskernel"/> -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.BoxWcsKlEntityBean" value="read-write, wcskernel"/> -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.ContainerInputWcsKlEntityBean" value="read-write, wcskernel"/> -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.ContainerOutputWcsKlEntityBean" value="read-write, wcskernel"/> -->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.persistence.ProductWcsKlEntityBean" value="read-write, wcskernel"/>
			<!-- from the fmkdocument WCS -->
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.GroupFmkDocEntityBean" value="read-write, wcsfmkdocument"/>
			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmkdocument.persistence.GroupFmkDocEntityBean.groupDocuments" value="read-write, wcsfmkdocument"/>
			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmkdocument.persistence.GroupFmkDocEntityBean.groupStrategies" value="read-write, wcsfmkdocument"/>
	   		<!--<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.AbstractDocumentExchangeAttributeFmkDoc" value="read-write, wcsfmkdocument"/>-->
	   		<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.GroupDocumentFmkDocEntityBean" value="read-write, wcsfmkdocument"/>
	   		<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.GroupStrategyDocumentFmkDocEntityBean" value="read-write, wcsfmkdocument"/>
	   		<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.GroupStrategyFmkDocEntityBean" value="read-write, wcsfmkdocument"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.DocumentTypeFmkDocEntityBean" value="read-write, wcsfmkdocument"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.DocumentFmkDocEntityBean" value="read-write, wcsfmkdocument"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.DocumentInFmkDocEntityBean" value="read-write, wcsfmkdocument"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.DocumentDataReportFmkDocEntityBean" value="read-write, wcsfmkdocument"/>
			<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.fmkdocument.persistence.AbstractDocumentInOutFmkDocEntityBean" value="read-write, wcs.fmkdocument"/> -->

			
			<!-- from the fmkexchange WCS -->
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.AbstractExchangeFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.AttributeExchangeFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.ParameterExchangeFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.StrategyExchangeFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.StrategyExchangeFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.StrategyExchangeLineFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.ExchangeRequestFlowFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.ExchangeRequestFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmkexchange.persistence.ExchangeRequestFmkExcEntityBean.flows" value="read-write, wcsfmkexchange"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkexchange.persistence.ExchangeRequestFlowDocFmkExcEntityBean" value="read-write, wcsfmkexchange"/>
			
			<!-- from the wcs.kernel.doc -->
			<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.doc.persistence.DocumentInOutWorkflowWcsKlDocEntityBean" value="read-write, wcskerneldoc"/> -->
			<!-- from the wcs.kernel.prep -->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.prep.persistence.ConfigActionPtlWcsKlPrpEntityBean" value="read-write, wcskernelprep"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.prep.persistence.HistoLoginWcsKlPrpEntityBean" value="read-write, wcskernelprep"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.prep.persistence.ConfigPtlWcsKlPrpEntityBean" value="read-write, wcskernelprep"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.prep.persistence.DevicePtlWcsKlPrpEntityBean" value="read-write, wcskernelprep"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.prep.persistence.AbstractLocationPrepWcsKlPrpEntityBean" value="read-write, wcskernelprep"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.prep.persistence.AbstractSectorPrepWcsKlPrpEntityBean" value="read-write, wcskernelprep"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.prep.persistence.SectorWcsKlPrpEntityBean" value="read-write, wcskernelprep"/>
			<!-- from the wcskpi --> 
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.RegistryFmkKPIEntityBean" value="read-write, wcskpi"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.AbstractKeyPerfIndicatorFmkKPIEntityBean" value="read-write, wcskpi"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.GroupFmkKPIEntityBean" value="read-write, wcskpi"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.GroupKPIFmkKPIEntityBean" value="read-write, wcskpi"/>
			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmkkpi.persistence.GroupFmkKPIEntityBean.groupKPIs" value="read-write, wcskpi"/>
			
			<!-- Comment result before analyzing clustering cache for this ! -->
			<!--<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.AbstractResultFmkKPIEntityBean" value="read-write, wcskpi"/>-->
		
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.EventMappingActionKPIFmkKPIEntityBean" value="read-write, wcskpi"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.EventMappingFmkKPIEntityBean" value="read-write, wcskpi"/>
			<property name="hibernate.ejb.collectioncache.com.asis.x2010.fmkkpi.persistence.EventMappingFmkKPIEntityBean.eventMappingActionKPIs" value="read-write, wcskpi"/>
		
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.MathExpressionFmkKPIEntityBean" value="read-write, wcskpi"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.ExpressionFmkKPIEntityBean" value="read-write, wcskpi"/>
			<property name="hibernate.ejb.classcache.com.asis.x2010.fmkkpi.persistence.KeyDescParamFmkKPIEntityBean" value="read-write, wcskpi"/>
			
			<!-- from the wcs.kpi -->
			<!-- from the wcs.kernelkpidoc -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.kernel.kpidoc.persistence.DocumentInOutWorkflowWcsKlKPIDocEntityBean" value="read-write, wcskernelkpidoc"/> -->
			<!-- from the wcs.sorterdoc -->
			<!-- from the wcskernelprepdoc -->
			<!-- from the wcs.conveyordoc -->
			<!-- from the wcs.conveyor.storagedoc -->
			<!-- from the wcskernelprepputtolight -->
	<!-- from the wcs.conveyor.dyn -->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.dyn.persistence.BoxLocationWcsCoDynEntityBean" value="read-write, wcsconveyordyn"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.SorterWcsSoEntityBean" value="read-write, wcssorter"/>
<!-- Use in 4.3.0-->
<!--<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.AbstractElementWcsSoEntityBean" value="read-write, wcssorter"/>-->

<!-- Use in 4.3.0-->
<!-- Use in 4.3.0 CP06-->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.ChuteWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.CheckPointWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.InductionWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.InFeedWcsSoEntityBean" value="read-write, wcssorter"/>
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.AbstractChuteExtendWcsSoEntityBean" value="read-write, wcssorter"/> -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.AbstractInFeedExtendWcsSoEntityBean" value="read-write, wcssorter"/> -->
<!-- Use in 4.3.0 CP06-->

<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.ScrapChuteWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.SorterLoopWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.SorterLoopWcsSoEntityBean.inductions" value="read-write, wcssorter"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.SorterLoopWcsSoEntityBean.chutes" value="read-write, wcssorter"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.SorterLoopWcsSoEntityBean.scrapChutes" value="read-write, wcssorter"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.SorterWcsSoEntityBean.sorterLoops" value="read-write, wcssorter"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.InductionWcsSoEntityBean.inFeeds" value="read-write, wcssorter"/>

<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.SortingPlanWcsSoEntityBean" value="read-write, wcssorter"/>
<!--<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.RecipientLineWcsSoEntityBean" value="read-write, wcssorter"/>-->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.ProductWcsSoEntityBean" value="read-write, wcssorter"/>
<!--<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.RecipientWcsSoEntityBean" value="read-write, wcssorter"/>-->
<!--<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.RecipientWcsSoEntityBean.recipientLineSet" value="read-write, wcssorter"/>-->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.ChutePositionWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.ChuteSortingPlanWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.SortingWaveWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.sorter.persistence.ScrapChuteWcsSoEntityBean" value="read-write, wcssorter"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.ChuteWcsSoEntityBean.chutePositions" value="read-write, wcssorter"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.ChuteWcsSoEntityBean.scrapChutes" value="read-write, wcssorter"/>
<property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.ChuteWcsSoEntityBean.sorterLoops" value="read-write, wcssorter"/>

<!-- <property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.InFeedDataWcsSoEntityBean" value="read-write, wcssorter"/> -->
<!-- <property name="hibernate.ejb.collectioncache.com.asis.x2010.wcs.sorter.persistence.ChuteDataWcsSoEntityBean" value="read-write, wcssorter"/> -->

<!-- Use in 4.3.0 CP06-->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.persistence.AbstractJoinPointWcsCoEntityBean" value="read-write, wcs.conveyor"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.persistence.LoopWcsCoEntityBean" value="read-write, wcs.conveyor"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.persistence.RegistryWcsCoEntityBean" value="read-write, wcs.conveyor"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.persistence.ReadingPointNeedFeaturesWcsCoEntityBean" value="read-write, wcs.conveyor"/>
	<!-- from the wcs.conveyor.storage -->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.storage.persistence.AbstractEquipmentWcsCoStoEntityBean" value="read-write, wcsconveyorsto"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.storage.persistence.LEVDataWcsCoStoEntityBean" value="read-write, wcsconveyorsto"/>
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.storage.persistence.MissionWcsCoStoEntityBean" value="read-write, wcsconveyorsto"/> -->
<!-- <property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.storage.persistence.InterventionWcsCoStoEntityBean" value="read-write, wcsconveyorsto"/> -->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.storage.persistence.SecurityAreaWcsCoStoEntityBean" value="read-write, wcsconveyorsto"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.conveyor.storage.persistence.ShuttleDataWcsCoStoEntityBean" value="read-write, wcsconveyorsto"/>
			<!-- from the wcs.sortersimulation -->
			<!-- from the wcs.kernel.preppicktolightdoc -->
			<!-- from the wcs.kernel.prepputtolightdoc -->
			<!-- from the wcs.kernel.preppicktolight -->
			<!-- from the wcs.conveyor.dyndoc -->
			<!-- from the wcs.documentdispenserdoc -->
<!-- Use in 4.3.0 CP06-->
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.documentdispenser.persistence.PrinterWcsDdEntityBean" value="read-write, wcs.documentdispenser"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.documentdispenser.persistence.PostWcsDdEntityBean" value="read-write, wcs.documentdispenser"/>
<property name="hibernate.ejb.classcache.com.asis.x2010.wcs.documentdispenser.persistence.RegistryWcsDdEntityBean" value="read-write, wcs.documentdispenser"/>

			<!-- from the wcs.documentdispenser.ext -->
			<!-- from the app.routing -->
			<!-- from the wcsclient -->
			<!-- @PROPERTIES_INSERT@ -->
		</properties>
	</persistence-unit>
	<persistence-unit name="x2010LM">
		<jta-data-source>java:jboss/x2010LM-wcs</jta-data-source>
    
		<!-- Sorted by Destroy for the Initialisation -->
		<!-- @PERSISTENCE_MAPPING_INSERT@ -->			
		<!-- Sorted by Destroy for the Initialisation -->
		<exclude-unlisted-classes>true</exclude-unlisted-classes>
		
		<mapping-file>META-INF/hibernate-mapping.lm.module.kernelpreppicktolight.xml</mapping-file> 
		
		<properties>
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.AsisPostgreSQLDialect"/> 		  
			<property name="jboss.entity.manager.factory.jndi.name"	value="java:jboss/x2010LM-wcsEntityManagerFactory"/>
			<property name="hibernate.session_factory_name"	value="java:jboss/x2010LM-wcsSessionFactory"/>       
			<!-- Order update by id to limit deadlock -->
			<property name="hibernate.order_updates" value="true"/> 
		    <property name="hibernate.id.new_generator_mappings" value="true"/>
			
			<!--  Trace the hibernate SQL requests  
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="true" />
			-->
			
			<!-- ********************************** -->
			<!--  EHCACHE CONFIGURATION PROPERTIES  -->
			<!-- ********************************** -->
			<!-- @PROPERTIES_INSERT@ -->
		</properties>
	</persistence-unit>
	<!-- @PERSISTENCE_UNIT_INSERT@ -->
	
</persistence>
