<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>
        <!--property name="connection.datasource">java:comp/env/jdbc/psms</property-->
        <property name="show_sql">false</property>
        <property name="use_outer_join">true</property>
        <property name="cache.provider_class">org.hibernate.cache.OSCacheProvider</property>

        <property name="default_schema">TITAN</property>
        <property name="default_catalog">TITAN</property>

        <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.username">TITAN</property>
        <property name="connection.password">TITAN</property>
        <property name="connection.url">jdbc:oracle:thin:@192.168.0.80:1521:ora9</property>

        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="jdbc.fetch_size">100</property>
        <property name="jdbc.batch_size">50</property>
        <property name="hibernate.query.substitutions">true='1',false='0'</property>
    </session-factory>

</hibernate-configuration>
