<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 2.0//EN"

 "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory 
        name="java:comp/env/hibernate/SessionFactory">

        <!-- properties -->
        <property name="show_sql">false</property>
        <property name="use_outer_join">true</property>
	<property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>

        <property name="transaction.factory_class">net.sf.hibernate.transaction.JDBCTransactionFactory</property>

        <property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/boxlife</property>
        <property name="connection.username">useruser</property>
        <property name="connection.password">blahblah</property>
        <property name="connection.charset">ISO8859_2</property>
        <property name="connection.isolation">4</property>

        <property name="jdbc.fetch_size">25</property>
        <property name="jdbc.batch_size">0</property>
        <property name="jdbc.use_streams_for_binary">true</property>

        <property name="c3p0.max_size">20</property>
        <property name="c3p0.min_size">2</property>
        <property name="c3p0.timeout">5000</property>
        <property name="c3p0.max_statements">100</property>
        <property name="c3p0.validate">false</property>

        <!-- mapping files -->
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/Company.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/Customer.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/Item.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/ItemCategory.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/ItemFolder.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/Order.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/OrderItem.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/Payment.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/Point.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/PointReason.hbm.xml"/>
        <mapping resource="pl/elysium/boxlife/hibernate/mapping/User.hbm.xml"/>

    </session-factory>

</hibernate-configuration>