<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
             
    <persistence-unit name="testPersistenceUnit">
      <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
         	<property name="jakarta.persistence.schema-generation.scripts.action" value="create"/>
			<property name="jakarta.persistence.schema-generation.scripts.create-target" value="schema/test.sql"/>
      </properties>
   </persistence-unit>
</persistence>