<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">
    <persistence-unit name="test.SensorNetwork" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>com.tekview.transview.sensornetwork.model.Location</class>
        <class>com.tekview.transview.sensornetwork.model.Group</class>
        <class>com.tekview.transview.sensornetwork.model.Lamppost</class>
        <class>com.tekview.transview.sensornetwork.model.Slot</class>
        <class>com.tekview.transview.sensornetwork.model.PowerController</class>
        <class>com.tekview.transview.sensornetwork.model.PowerSwitch</class>
        <class>com.tekview.transview.sensornetwork.model.Camera</class>
        <class>com.tekview.transview.sensornetwork.model.Lamp</class>
        <class>com.tekview.transview.sensornetwork.model.ChargingSpot</class>
        <class>com.tekview.transview.sensornetwork.model.Fence</class>
        <class>com.tekview.transview.sensornetwork.model.LED</class>
        <class>com.tekview.transview.sensornetwork.model.WiFi</class>
        <class>com.tekview.transview.sensornetwork.model.Broadcasting</class>
        <properties>
            <!-- SPATIAL SQL dialect -->
            <property name="hibernate.dialect"
                      value="org.hibernate.spatial.dialect.mysql.MySQL56InnoDBSpatialDialect"/>
            <property name="hibernate.dialect.storage_engine" value="innodb"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.url" value="jdbc:mysql://172.28.72.183:3306/sensornetwork"/>
            <property name="hibernate.connection.username" value="******"/>
            <property name="hibernate.connection.password" value="******"/>
            <!-- JDBC connection pool (use the built-in) -->
            <property name="hibernate.connection.pool_size" value="1"/>
            <!-- Enable Hibernate's automatic session context management -->
            <property name="hibernate.current_session_context_class" value="thread"/>
            <!-- Disable the second-level cache -->
            <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hibernate.use_sql_comments" value="true"/>
            <property name="hibernate.max_fetch_depth" value="3"/>
            <property name="hibernate.hbm2ddl.auto" value="create"/>
        </properties>
    </persistence-unit>
</persistence>
